{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mugen</title>
  <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'styles.5134af5fe529bf00d49d.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/primeicons.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/primeng.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/primeng.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/theme.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/dialog.css' %}" rel="stylesheet"/>
</head>
<body >
  <app-root></app-root>
  <script src="{% static 'js/runtime-es2015.858f8dd898b75fe86926.js' %}" type="module"></script>
  <script src="{% static 'js/polyfills-es2015.27661dfa98f6332c27dc.js' %}" type="module"></script>
  <script src="{% static 'js/runtime-es5.741402d1d47331ce975c.js' %}" nomodule></script>
  <script src="{% static 'js/polyfills-es5.7f43b971448d2fb49202.js' %}" nomodule></script>
  <script src="{% static 'js/main-es2015.43c763366e4dc1ad1e9a.js' %}" type="module"></script>
  <script src="{% static 'js/main-es5.71c88293b4f7b5dd3ad4.js' %}" nomodule></script>
</body>
</html>
